.pnut-empty {
  width: 100%;
  height: 100%;

  .pnut-empty__info {
    &:last-of-type {
      margin-bottom: 0;
    }
  }

  .pnut-empty__wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .pnut-empty__description,
  .pnut-empty__title {
    padding: 0;
    margin: 0;
    line-height: normal;
  }
  .pnut-empty__content {
    display: block;
    margin: auto;
    object-fit: contain;
  }
  .align-center {
    text-align: center;
  }
  .pnut-empty__title {
    margin-top: 16px;
    color:#cad8f9;
    font-size: 16px;
  }

  .pnut-empty__description {
    margin-bottom: 8px;
    color:#5f7099;
    font-size: 14px;
  }

  .pnut-empty--xs {
    .pnut-empty__content {
      width: 64px;
      height: 64px;
    }

    .pnut-empty__description {
      margin-top: 8px;
    }
  }

  .pnut-empty--sm {
    .pnut-empty__content {
      width: 120px;
      height: 120px;
    }

    .pnut-empty__description {
      margin-top: 8px;
    }
  }

  .pnut-empty--md {
    .pnut-empty__content {
      width: 170px;
      height: 170px;
    }

    .pnut-empty__description {
      margin-top: 8px;
      font-size: 14px;
    }

    .has-title {
      .pnut-empty__description {
        margin-top: 4px;
        font-size: 12px;
      }
    }
  }

  .pnut-empty--lg {
    .pnut-empty__content {
      width: 240px;
      height: 240px;
    }

    .pnut-empty__title {
      font-size: 18px;
    }

    .pnut-empty__description {
      margin: 8px 0 16px 0;
      font-size: 14px;
    }

    .has-title {
      .pnut-empty__description {
        margin-top: 8px;
      }
    }
  }
}
